body {
    font-family: "Exo", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    height: 200vh;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #8b5cf6;
    color: #fff;
}

span,
a {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #f5f3ff;
    border-bottom: 1px solid #ddd6fe;
}

.container {
    width: 65%;
    max-width: 1200px;
    margin: 0 auto;

}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoImg {
    width: 25px;
    height: 25px;
    padding: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #8b5cf6;
    border-radius: 10px;
}

.logo h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    color: #000;
}

.menuItems {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.menuItems ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menuItems ul li {
    margin-left: 26px;
}
.menuItems ul li a {
    position: relative;
    color: rgb(34, 34, 34);
    font-family: "Exo", sans-serif;
    font-size: 15px;
    font-weight: 400;
    transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
}
.menuItems ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    background-color: #8b5cf6;
    height: 2px;
    bottom: -4px;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
}
.menuItems ul li a:hover::after {
    width: 100%;
}
.menuItems ul li a:hover {
    color: #8b5cf6;
}

.hero {
    margin-top: 180px;
}

.hero_container {
    display: flex;
    gap: 60px;
}

.hero_img {
    width: 50%;
    border: 2px  solid #e0dfdf;
    overflow: hidden;
    padding: 17px;
    position: relative;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hero_img img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hero_img p {
    position: absolute;
    top: 40px;
    left: 40px;
    margin: 0;
    color: white;
    background-color: #8b5cf6;
    padding: 5px;
    font-size: 14px;
    width: 80px;
    text-align: center;
    font-weight: 600;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}



.hero_content {
    width: 50%;
}


.content_props {
    display: flex;
    gap: 10px;
}


.content_props p {
    color: white;
    background-color: rgb(139, 92, 246,0.8);
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hero_content h1 {
    font-size: 47px;
    margin: 0;
    font-family: "Exo", sans-serif;

}

.hero_content h1 span {
    color: #8b5cf6;
}

.hero_description {
    font-size: 18px;
    line-height: 1.9;
    font-weight: 500;
    margin-bottom: 15px;
}

.hero_prices {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.hero_prices h2 {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
    color: #000;
}

.hero_prices h3 {
    font-size: 22px;
    margin: 0;
    font-weight: 500;
    color: #000;
    text-decoration: line-through;
}

.hero_prices p {
    color: #E53935 ;
    background-color: rgb(255, 0, 0,0.2);
    padding: 5px 10px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.installments {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 35px;
}



.add_to_card_btn {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 14px;
    margin-bottom: 20px;
    background-color: #8b5cf6;
    color: white;
    font-size: 19px;
    font-weight: 600;
    padding: 30px 60px;
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 0.3s ease;
}

.add_to_card_btn:hover {
    transform: scale(1.05);
}


.add_to_card_btn img {
    width: 25px;
    height: 25px;
}

.add_to_wishliste_btn {
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 14px;
    background-color: #ffffff;
    border: 2px solid #e0dfdf;
    font-size: 19px;
    font-weight: 600;
    padding: 30px 60px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: all 0.3s ease;
}

.add_to_wishliste_btn:hover {
    transform: scale(1.05);
}

.add_to_wishliste_btn img {
    width: 25px;
    height: 25px;
}


.compar_section {
    background-color: rgba(245, 243, 255, 0.8);
    margin-top: 150px;
    padding: 50px 0;
}

.compar_header {
    text-align: center;
    padding: 50px 0;
}

.compar_header h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: #000;
}

.compar_header h2 span {
    color: #8b5cf6;
}

.compar_header p {
    font-size: 20px;
    font-weight: 400;
}


.compar_table table tr  img {
    width: 20px;
    height: 20px;
}

.compar_table {
    padding: 25px;

    background-color: rgba(255, 255, 255, 0.8);

    border: 1px solid #cbd5e1;
    border-radius: 25px;

    overflow-x: auto;
}

.fist_th,
.fist_img,
.compar_table tbody tr:last-child td:first-child {
    text-align: left;
}


.compar_table table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.fist_img {
    display: flex;

    align-items: center;

    justify-content: flex-start;

    gap: 10px;

    text-align: left;
    margin-top: 16px;
}

.x-icon {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 6px;
}

.yellow-star img {
    display: inline;
}

tbody tr {
    border-top: #b0b0b0 solid 1px;
}


.bg_color {
    background-color: #EDE9FE;
    
}

.bg_color_1 {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.bg_color_2 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.our-product-column {
    background-color: #EDE9FE;
    text-align: center;
}

.feature-badge {
    display: inline-flex;

    align-items: center;
    justify-content: center;

    gap: 6px;

    padding: 6px 14px;
    margin: 10px 0;

    background-color: rgb(124, 58, 237,0.7);
    color: white;

    border-radius: 20px;

    font-size: 13px;
    font-weight: 600;
}

.feature-badge img {
    width: 12px;
    height: 12px;

    display: block;
}

.feature-badge span {
    display: block;
}

.our-product-column p {
    color: #7c3aed;
    font-weight: 800;
    font-size: 24px;
}

.bg_color_1 p {
    margin: 0;
} 

.clear p {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
}

.yellow-star {
    margin-top: 10px;
}

.colored_red {
    color:red;
    font-size:14px;
}

.bold {
    font-weight: 800;
    font-size: 20px;
}

.winner {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 20px;
    margin: 0 auto;
    align-items: center;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cbd5e1;
    border-radius: 15px;
    margin-top: 100px;
    gap: 5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.winner_icon img {
    width: 25px;
    height: 25px;
}

.winner_content h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color:#16a34a;
}

.winner_content p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #16a34a;
}


.customers_say_section_header {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;
}

.customers_say_section_header h2 {
    font-size: 28px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.customers_say_section_header h2 span {
    color: #8b5cf6;
}

.customers_say_section_header p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.customers_say_section_content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.stars img {
    width: 25px;
    height: 25px;
}



.customers_say_section_content_left {
    position: sticky;
    top: 20px;
    border: 1px solid #cbd5e1;
    border-radius: 15px;
    padding: 20px 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.customers_say_section_content_left h3 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-bottom: 20px;
}

.star_des {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.rate1 img {
    width: 12px;
    height: 12px;
}

.rate1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.rate1 .shap {
    height: 10px;
    width: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rate1 .shap_ineer {
    height: 10px;
    width: 75%;
    background-color: #EAB308;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rate2 img {
    width: 12px;
    height: 12px;
}

.rate2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.rate2 .shap {
    height: 10px;
    width: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rate2 .shap_ineer {
    height: 10px;
    width: 15%;
    background-color: #EAB308;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rate3 img {
    width: 12px;
    height: 12px;
}

.rate3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.rate3 .shap {
    height: 10px;
    width: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rate3 .shap_ineer {
    height: 10px;
    width: 5%;
    background-color: #EAB308;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rate4 img {
    width: 12px;
    height: 12px;
}

.rate4 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.rate4 .shap {
    height: 10px;
    width: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rate4 .shap_ineer {
    height: 10px;
    width: 1.5%;
    background-color: #EAB308;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.rate5 img {
    width: 12px;
    height: 12px;
}

.rate5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: nowrap;
}

.rate5 .shap {
    height: 10px;
    width: 200px;
    background-color: #e5e7eb;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.rate5 .shap_ineer {
    height: 10px;
    width: 0.5%;
    background-color: #EAB308;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.recommended {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 2px solid #d3d4d5;
    padding: 20px 0;
    gap: 15px;
}

.recommended1,
.recommended2 {
    text-align: center;
}

.recommended1 h3,
.recommended2 h3 {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    margin-top: 15px;
    padding: 0;
}

.recommended1 p,
.recommended2 p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    padding: 0;
}


.reviews_section {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    width: 90%;
    margin: 80px auto;
}



.reviews_left {
    width: 30%;
    position: sticky;
    top: 30px;
    flex-shrink: 0;
}



.reviews_right {
    width: 70%;
}


.review_card {
    padding: 25px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cbd5e1;
    border-radius: 15px;
}


.review_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.reviewer_info {
    display: flex;
    align-items: center;
    gap: 15px;
}



.reviewer_info img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.reviewer_img {
    border: 2px solid #6d28d9;

}



.reviewer_details h3,
.reviewer_details p {
    margin: 0;
}



.reviewer_details h3 {
    margin-bottom: 5px;
    font-size: 17px;
    color: #1f2937;
}



.reviewer_details p {
    margin-bottom: 8px;
    color: #64748b;
    font-size: 14px;
}



.review_rating {
    display: flex;
    align-items: center;
    gap: 10px;
}


.review_stars {
    display: flex;
    align-items: center;
    gap: 3px;
}


.review_stars img {
    width: 15px;
    height: 15px;
}


.review_rating span {
    font-size: 14px;
    color: #374151;
}



.review_date {
    text-align: right;
}


.review_date span {
    display: inline-block;
    padding: 5px 12px;
    background-color: #ede9fe;
    color: #6d28d9;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
}


.review_date p {
    margin: 7px 0 0;
    color: #64748b;
    font-size: 13px;
}



.review_text {
    margin: 25px 0 0;
    color: #374151;
    font-size: 16px;
    line-height: 1.7;
}



.load_more {
    display: block;
    margin: 30px auto 0;
    padding: 15px 25px;
    border: none;
    border-radius: 25px;
    background-color: rgb(124, 58, 237,0.9);
    color: white;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.load_more:hover {
    background-color: #ffffff;
    color: rgb(124, 58, 237,0.9);
    border: 2px solid rgb(124, 58, 237,0.9);
}

/* Complete Your Setup */

.complete_your_setup {
    background-color: #ede9fe;
    height: 90vh;
}

.complete_your_setup_header {
    text-align: center;
    padding: 50px 0;
}

.complete_your_setup_header h2 {
    font-size: 40px;
    margin: 0;
    font-weight: 600;
    color: #000;
}

.complete_your_setup_header h2 span {
    color: #8b5cf6;
}

.complete_your_setup_header p {
    font-size: 18px;
    font-weight: 400;
}


.product_img img {
    width: 100%;
    display: block;
    border-radius: 15px;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.product_img {
    position: relative;
}

.product_card {
    width: 20%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #cbd5e1;
    padding: 20px;
    border-radius: 15px;
}

.type1 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #14B8A6 ;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}
.type2 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #22C55E;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}
.type3 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #06B6D4 ;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}
.type4 {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: #F97316;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
}

.product_content h3{
    margin: 10px 0 5px;
    font-size: 18px;
    font-weight: 600;
    color: #1f2937;
}

.product_content p {
    margin: 0 0 10px;
    font-size: 14px;
    color: #6b7280;
}

.product_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product_bottom h3 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #1f2937;
}

.product_bottom button {
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    background-color: #8b5cf6;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.complete_your_setup_cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.product_card:hover img{
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.complete_your_setup_btn {
    text-align: center;
    margin-top: 40px;
}

.complete_your_setup_btn button{
    padding: 18px 30px;
    border: none;
    border-radius: 60px;
    background-color: #ede9fe;
    color: #7c3aed;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid #7c3aed;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.complete_your_setup_btn button:hover{
    background-color: #7c3aed;
    color: #ede9fe;
}

/* Complete Your Setup */


/* footer */

.footer {
    background-color: #111827;
    padding: 50px 0;
}


.row1_header img {
    width: 25px;
    height: 25px;
    background-color: #7440ef;
    padding: 8px;
    border-radius: 10px;
}

.row1_icons img {
    width: 20px;
    height: 20px;
}


.footer_content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    border-bottom: 1px solid #374151;
}

.row1_header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.row1_header h2{
    font-size: 28px;
    color: white;
    font-weight: 600;
}

.row1_content p {
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.7;
    margin: 0;
}
.row1,
.row2 {
    margin-bottom: 40px;
}

.row1_icons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.facebook,
.twitter,
.instagram,
.youtube {
    width: 40px;
    height: 40px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.facebook:hover {
    background-color: #3b5998;
}

.twitter:hover {
    background-color: #1da1f2;
}

.instagram:hover {
    background-color: #c13584;
}

.youtube:hover {
    background-color: #ff0000;
}

.row2_header h3 {
    font-size: 18px;
    color: white;
    font-weight: 600;
}

.row2_content p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255,0.4);
    line-height: 1.7;
    cursor: pointer;
    transition: all 0.3s ease;
}

.row2_content p:hover {
    color: white;
}


.footer_pay img {
    width: 40px;
    height: 40px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.copy_right {
    color: white;
    font-size: 15px;
}

.footer_pay {
    display: flex;
    align-items: center;
    gap: 30px;
}

.pay_img1,
.pay_img3
    {
    background-color: #ffffff;
    padding: 3px 18px;
    border-radius: 10px;
}

.pay_img2 {
    background-color: #ffffff;
    padding: 3px 5px;
    border-radius: 10px;
}



/* ذfooter */