*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
}

span, a {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}