* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

.container {
    /* width: 80%;
    margin: 0 auto; */
    margin-top: 80px;   
}

.first_section {
    display: float;
    width: 80%;
    margin: 0 auto;
}

.first_section_left {
    float: left;
    margin-left: 250px;
}
.header_first_section {
    font-size: 31px;
    font-weight: bold;
    margin-bottom: 20px;
    max-width: 700px;
}
.content {
    color:rgb(92, 92, 92);
    max-width: 550px;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.btn1 {
    background-color: #000000;
    color: #ffffff;
    border-radius: 7px;
    padding: 25px 35px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.btn2{
    background-color: #ffffff;
    color: #5e5e5e;
    border-radius: 7px;
    padding: 25px 35px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #a8a8a8;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.first_section_right {
    float: right;
    margin-right: 250px;
}

.first_section_right img {
    height: 400px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-top: 30px;
    max-width: 100%;
}

.clear-fix {
    clear: both;
}

.second_section {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.second_section_header {
    margin-top: 120px;
}


.second_section_header h2 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 20px;
}

.second_section_header p {
    color: rgb(92, 92, 92);
    font-size: 18px;
    line-height: 1.8;
    
}

.second_section_content {
    margin-top: 50px;
    width: 100%;
    margin-left: 25px;
}

.second_section_content_box1,
.second_section_content_box2,
.second_section_content_box3 {
    float: left;
    width: 28%;         
    margin-right: 5%;    
    box-sizing: border-box;
    padding: 20px;
}

.second_section_content_box1 h3,
.second_section_content_box2 h3,
.second_section_content_box3 h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.second_section_content_box1 p,
.second_section_content_box2 p,
.second_section_content_box3 p {
    color: rgb(92, 92, 92);
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.second_section_content_box1 {
    background-color: #DBEAFE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 2px solid #BFDBFE;
}
.second_section_content_box2 {
    background-color: #d1fae5;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    
    border: 2px solid #a6f4d4;
}
.second_section_content_box3 {
    background-color: #f3e8ff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 2px solid #E9D5FF;
}

.box1_shape {
    background-color: blue;
    width:60px;
    height: 60px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.box1_inner_shape {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30%;
    margin: 15px auto;
}
.box2_shape {
    background-color: #059669;
    width:60px;
    height: 60px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.box2_inner_shape {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30%;
    margin: 15px auto;
}
.box3_shape {
    background-color: blue;
    width:60px;
    height: 60px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    margin-bottom: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.box3_inner_shape {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 30%;
    margin: 15px auto;
}

.third_section {
    margin-top: 50px;
    padding: 20px;
    width: 1200px;
    margin: 0 auto;
}

.third_section_left {
    float: left;
    width: 50%;
}

.third_section_left img {
    margin-top: 20px;
    width: 90%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.third_section_right {
    float: left;
    width: 50%;
}

.third_section_right_header {
    margin-top:10px;
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
}

.third_section_right_content_1,
.third_section_right_content_2 {
    margin-bottom: 20px;
}

.third_section_right_content_1_left,
.third_section_right_content_2_left,
.third_section_right_content_3_left {
    float: left;
    width: 5%;
}

.third_section_right_content_1_left_shape,
.third_section_right_content_2_left_shape,
.third_section_right_content_3_left_shape {
    float: left;
    background-color:#000000;
    height: 60px;
    width: 5px;
}

.third_section_right_content_1_right {
    margin-bottom: 35px;
}

.third_section_right_content_1_right h3,
.third_section_right_content_2_right h3,
.third_section_right_content_3_right h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}

.third_section_right_content_1_right p,
.third_section_right_content_2_right p,
.third_section_right_content_3_right p {
    color: #414141;
}

.testimonials_section {
    
    text-align: center;
    background-color: #f1ecec;
}

.testimonials_section_header {
    margin-top: 80px;
}

.testimonials_section_header h1 {
    font-weight: bold;
    font-size: 20px;
}