
body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
.clear-fix {
    clear: both;
}

.container {
    margin: 30px auto;
    width:57%;
}

.hero_section {
    overflow: hidden;
}

.hero_left {
    float:left;

}

.hero_right {
    float:right;
    margin-top: 100px;
}

.hero_right img{
    width:400px;
    border-radius:20px;
}

.hero_heading {
    font-size: 65px;
    color: #111827;
}

.description {
    color:#718096;
    font-size: 18px;
    line-height: 35px;
}

.hero_buttons{
    margin-top: 25px;
}

.btn1 {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    width: 220px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.btn2 {
    background-color: white;
    padding: 20px;
    width: 150px;
    border: #E0E0E0 solid 2px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #757575;
    margin-left: 18px;
}

.chooseUs_section {
    margin-top: 150px;
}

.chooseUs_head {
    
    text-align: center;
}

.chooseUs_heading {
    font-size: 45px;
    color: #111827;
}

.chooseUs_cards {
    margin-top: 80px;
    text-align: center;
}

.card1 {
    background-color: #DBEAFE;
    width: 310px;
    height: 210px;
    padding-top: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: #BFDBFE solid 2px;
    padding: 15px;
    float: left;
    margin-right: 20px;
}

.shap1 {
    text-align: center;
    width:60px;
    height: 60px;
    background-color: #1E88E5;
    margin: 20px auto 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.inner_shap1 {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card1 h3 {
    font-weight: 700;
    font-size: 22px;
    color: #111827;
}

.card1 p {
    color: #616161;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}
.card2 {
    background-color: #d1fae5;
    width: 310px;
    height: 210px;
    padding-top: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: #A7F3D0 solid 2px;
    padding: 15px;
    float: left;
    margin-right: 20px;
}

.shap2 {
    text-align: center;
    width:60px;
    height: 60px;
    background-color: #059669;
    margin: 20px auto 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.inner_shap2 {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.card2 h3 {
    font-weight: 700;
    font-size: 22px;
    color: #111827;
}

.card2 p {
    color: #616161;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}
.card3 {
    background-color: #F3E8FF;
    width: 310px;
    height: 210px;
    padding-top: 20px;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: #E9D5FF solid 2px;
    padding: 15px;
    float: left;
    margin-right: 20px;
}

.shap3 {
    text-align: center;
    width:60px;
    height: 60px;
    background-color: #9333EA;
    margin: 20px auto 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.inner_shap3 {
    width: 30px;
    height: 30px;
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card3 h3 {
    font-weight: 700;
    font-size: 22px;
    color: #111827;
}

.card3 p {
    color: #616161;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

.features_of_gym {
    margin-top: 60px;
    overflow: hidden;
    margin-bottom: 140px;
}

.features_of_gym_left {
    float: left;
    width: 48%;
    margin-top: 60px;
}

.features_of_gym_right {
    float: right;
    width: 48%;
}

.features_of_gym_left img {
    width: 100%;
    border-radius: 20px;
}

.features_of_gym_heading {
    font-weight: 700;
    font-size: 30px;
    color: #111827;
    margin-bottom: 20px;
}

.feature {
    overflow: hidden;
    margin-bottom: 15px;
}


.feature_content {
    border-left: 4px solid black;
    padding-left: 10px;
}

.feature_content h3 {
    font-weight: 500;
    font-size: 18px;
    color: #111827;
    margin-bottom: 4px;
}

.feature_content p {
    color: #616161;
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
}


.testimonials {
    margin-bottom: 120px;
}

.testimonials_head {
    text-align: center;
    margin-bottom: 50px;
}

.testimonials_head h2 {
    font-size: 40px;
    margin-bottom: 15px;
    color: #111827;
}

.testimonials_head p {
    color: #6b7280;
    font-size: 18px;
}

.testimonials_cards {
    overflow: hidden;
}

.card4 {
    float: left;
    width: 330px;
    height: 285px;
    padding: 30px;
    border: 1px solid #90CAF9;
    border-radius: 15px;
    background: #EFF6FF;
    text-align: left;
    margin-right: 30px;
    box-sizing: border-box;
}

.card4_head {
    overflow: hidden;
    margin-bottom: 25px;
}

.card4_head img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card4_info {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

.card4_info h3 {
    margin: 0;
    font-size: 24px;
    color: #111827;
}

.card4_info p {
    margin-top: 6px;
    color: #6b7280;
    font-size: 13px;
}

.card4_content blockquote {
    margin: 0;
    line-height: 1.8;
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card5 {
    float: left;
    width: 330px;
    height: 285px;
    padding: 30px;
    border: 1px solid #A7F3D0;
    border-radius: 15px;
    background: #ECFDF5;
    text-align: left;
    margin-right: 30px;
    box-sizing: border-box;
}

.card5_head {
    overflow: hidden;
    margin-bottom: 25px;
}

.card5_head img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card5_info {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

.card5_info h3 {
    margin: 0;
    font-size: 24px;
    color: #111827;
}

.card5_info p {
    margin-top: 6px;
    color: #6b7280;
    font-size: 13px;
}

.card5_content blockquote {
    margin: 0;
    line-height: 1.8;
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
.card6 {
    float: left;
    width: 330px;
    height: 285px;
    padding: 30px;
    border: 1px solid #CE93D8;  
    border-radius: 15px;
    background: #F3E5F5;
    text-align: left;
    margin-right: 30px;
    box-sizing: border-box;
}

.card6_head {
    overflow: hidden;
    margin-bottom: 25px;
}

.card6_head img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card6_info {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
}

.card6_info h3 {
    margin: 0;
    font-size: 24px;
    color: #111827;
}

.card6_info p {
    margin-top: 6px;
    color: #6b7280;
    font-size: 13px;
}

.card6_content blockquote {
    margin: 0;
    line-height: 1.8;
    color: #374151;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.stats {
    overflow: hidden;
    margin-bottom: 120px;
    margin-top: 100px;
}

.stats {
    background-color: #F1F5F9;
    padding: 50px;
    border: 1px solid #E2E8F0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.stats1,
.stats2,
.stats3,
.stats4 {
    float: left;
    text-align: center;
    width: 25%;
}

.stats1 h3,
.stats2 h3,
.stats3 h3,
.stats4 h3 {
    margin: 0;
    font-size: 30px;
    color: #111827;
    font-weight: 900;
}

.stats1 p,
.stats2 p,
.stats3 p,
.stats4 p {
    margin-top: 5px;
    font-size: 14px;
    color: #374151;
    font-weight: 400;
}

.membership_form_heading h2 {
    margin: 0;
    font-size: 35px;
    color: #111827;
    font-weight: 800;
}

.membership_form_heading {
    text-align: center;
    margin-bottom: 50px;
}

.membership_form_heading p {
    line-height: 1.4;
}