.body_color {
    background-color: #010912;
    height: 200vh;
}


.navbar_conatiner {
    width: 70%;
    position: fixed;
    top: 24px;
    left: 15%;
    
    background: rgba(36, 41, 49, 0.65);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.logo img {
background: linear-gradient(135deg, #3B82F6 0%, #8B5CF6 50%, #EC4899 100%);
}

.logo a span {
background: linear-gradient(135deg, #3B82F6 0%, #8B5CF6 50%, #EC4899 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.crud_system_padge {
    background: linear-gradient(135deg, #7185a5 0%, #8071a4 50%, #7d596b 100%);
    font-size: 12px;

}

.next_gen {
    color: #c6abea;
    background: #1C2D3B;
    font-size: 14px;
}


.main_section_header h1 {
    color: white;
}


.main_section_header h1 span {
    background: linear-gradient(135deg, #659efb 0%, #9c72ff 50%, #fb6ab2 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.main_section_header p {
    max-width: 600px;
    color: rgb(152, 151, 151);
}

.main_section_left {
    background-color: #083856

}

.control_panel {
    background: rgba(36, 41, 49, 0.65);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}

.edit {
    background: rgba(36, 41, 49, 0.65);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
}