.card {
    background-color: blue;
    width: 30%;
    overflow: hidden;
    position: relative;
}


img {
    width: 100%;
    display: block;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.layer {
    position: absolute;
    background-color: rgb(85, 84, 84,0.5);
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.layer h2 {
    margin: 0;
    background-color: rgb(65, 51, 193);
    padding: 10px 0;
    color: white;
}

.card:hover .layer {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.card:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}