body {
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;

}

html, body {
    overflow-x: hidden;
    max-width: 100%;
}

img {
    width: 100%;
    display: block;
}

:root {
    --main-background: #0B0E13;
    --main-color: #CBFE1C;
    --border-color: #1E2939;
    --green-border: #0ADF72;
    --card-background: #1A1A1A;
    --icon-background: #1E2939;
    --contact-background: #0D121C;
    --card_contact_background: #1E2939;
}

section {
    scroll-margin-top: 90px;
}

.my-navbar {
    background-color: var(--main-background);
}

.logo {
    color: var(--main-color);
}

.navbar .nav-link {
    color: white;
}

.navbar .nav-link.active {
    color: var(--main-color);
}

.my-navbar .nav-link:hover {
    color: var(--main-color);
}


.my-navbar .navbar-brand {
    color: var(--main-color);
}

.my-navbar {
    border-bottom: 1px solid var(--border-color);
}

.sign_in_button {
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border: none;
    background-color: var(--main-color);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.sign_in_button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        90deg,       
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent   
        );
    transition: left 0.5s ease;
    z-index: 0;
}

.sign_in_button:hover::before {
    left: 150%;
}

.sign_in_button:hover {
    background-color: #c9fe1ce3;
    color: black;
}




.nav_icons:hover {
    color: var(--main-color);
}

.nav_icons {
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.nav_icons:hover {
    color: var(--main-color);
}

/* hero section style  */

.hero_section {
    min-height: 100vh;
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)
        ),
        url("../img/hero-bg.jpg");
    background-size: cover;
    background-position: center;
}

.hero_img {
    width: 580px;
    max-width: 100%;
    height: 380px;
    position: relative;
    padding: 4px;
    border-radius: 16px;
    background: linear-gradient(
        135deg,
        var(--main-color),
        var(--green-border)
    );
}

.hero_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}


.main_heading span {
    color: var(--main-color);
}

.Start_now_btn{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border: none;
    background-color: var(--main-color);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.Start_now_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        90deg,       
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent   
        );
    transition: left 0.5s ease;
    z-index: 0;
}

.Start_now_btn:hover::before {
    left: 150%;
}

.Start_now_btn:hover {
    background-color: #c9fe1ce3;
    color: black;
}

.watch_tournament_btn{
    position: relative;
    overflow: hidden;
    isolation: isolate;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.watch_tournament_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        90deg,       
        transparent,
        rgba(255, 255, 255, 0.8),
        transparent   
        );
    transition: left 0.5s ease;
    z-index: 0;
}

.watch_tournament_btn:hover::before {
    left: 150%;
}

.watch_tournament_btn:hover {
    background-color: #c9fe1ce3;
    color: black;
}

.trophy {
    background-color: var(--main-background);
    border: 1px solid var(--border-color);
}

.trophy i {
    color: var(--main-color);
}

.trophy_text span {
    font-size: 12px;
}

@media (max-width: 991.98px) {
    .hero_section {
        padding-top: 100px !important;
    }
    .hero_section h1 {
        font-size: 35px;
    }
}

    /* our_games section style  */

    .our_games {
        background-color: var(--main-background);
    }

    .our_games_title span {
        color: var(--main-color);
        letter-spacing: 3px;
    }

.section_line {
    width: 65px;
    height: 2px;
    display: inline-block;
}

.section_line:first-child {
    background: linear-gradient(to right, transparent, var(--main-color));
}

.section_line:last-child {
    background: linear-gradient(to left, transparent, var(--main-color));
}

/* the slide show  

i searched on any way to do it with bootstrap
but it should to be done with js for this 
reason i did it with css

*/


/* slider*/

#mySlider {
    width: 100%;
    position: relative;
}

#mySlider .carousel-item {
    padding: 0;
}



/* Each column */

#mySlider .col-4 img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

/* Previous&Next */
.slider_buttons .carousel-control-prev,
.slider_buttons .carousel-control-next {
    position: static;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 50%;
    border: 2px solid rgb(72, 72, 72);
    opacity: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.slider_buttons .carousel-control-prev:hover,
.slider_buttons .carousel-control-next:hover {
    border-color: var(--main-color);
}

.slider_buttons .carousel-control-prev:hover i,
.slider_buttons .carousel-control-next:hover i {
    color: var(--main-color);
}

/* Previous icon */
.slider_buttons .carousel-control-prev-icon {
    width: 18px;
    height: 18px;
}

/* Next icon */
.slider_buttons .carousel-control-next-icon {
    width: 18px;
    height: 18px;
} 

/* view all btn */

.view_all_btn {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

.view_all_btn:hover {
    background-color: var(--main-color);
    color: black;
}


/*hover*/

.slider_buttons .carousel-control-prev:hover,
.slider_buttons .carousel-control-next:hover {
    opacity: 0.8;
}
.image_box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-sizing: border-box;
}


.image_box img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


.image_overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid var(--main-color);
    background-image: linear-gradient(to top, rgb(203, 254, 28,0.6) 10%, transparent 70%);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 13px;
}

.image_box:hover .image_overlay {
    opacity: 1;
}
.image_box:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


.overlay_top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translatey(-100%);
    -webkit-transform: translatey(-100%);
    -moz-transform: translatey(-100%);
    -ms-transform: translatey(-100%);
    -o-transform: translatey(-100%);
    transition: transform 0.4s ease;

}


.image_box .image_overlay .overlay_bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;

    transform: translateY(100%);
    transition: transform 0.4s ease;
}

.image_box:hover .overlay_top {
    transform: translateY(0);
    top: 10px;
    left: 10px;
}

.image_box:hover .overlay_bottom {
    transform: translateY(0);
    bottom: 10px;
    left: 10px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}


.adventure {
    background-color: rgba(0, 0, 0, 0.3);

    padding: 5px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 4px;
}

.adventure i {
    color: var(--main-color);
    font-size: 16px;
}

.overlay_top span {
    font-size: 10px;
    color: white;
    letter-spacing: 1px;
}

.overlay_bottom h3 {
    margin: 0;
    color: black;
    font-weight: 600;
    font-size: 20px;
}


/* what_we_do_section style  */


/* header style */


.what_we_do_section {
    background-color: var(--main-background);
}


.header_title{
    font-size: 55px;
}

.header_subtitle {
    font-size:47px
}

@media (max-width: 768px) {
    .header_title{
        font-size: 24px;
    }
    .header_subtitle {
    font-size: 20px;
    }
}


/* cards style  */


.card_wrapper .card {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
}

.card_content i {
    color: var(--main-color);
    background-color: var(--icon-background);
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .card_content i {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .card_content i {
        font-size: 24px;
    }
}


.card_wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.triangle_top_1 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    border-style: inset;
    border-color: transparent transparent var(--main-color) transparent;
    border-width: 0px 15px 15px 15px;
    transform: translateX(-70%) translateY(-20px) rotate(-45deg);
    -webkit-transform: translateX(-70%) translateY(-20px) rotate(-45deg);
    -moz-transform: translateX(-70%) translateY(-20px) rotate(-45deg);
    -ms-transform: translateX(-70%) translateY(-20px) rotate(-45deg);
    -o-transform: translateX(-70%) translateY(-20px) rotate(-45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.triangle_bottom_1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    border-style: inset;
    border-color: transparent transparent var(--main-color) transparent;
    border-width: 0px 15px 15px 15px;
    transform: translateX(70%) translateY(20px) rotate(-220deg);
    -webkit-transform: translateX(70%) translateY(20px) rotate(-220deg);
    -moz-transform: translateX(70%) translateY(20px) rotate(-220deg);
    -ms-transform: translateX(70%) translateY(20px) rotate(-220deg);
    -o-transform: translateX(70%) translateY(20px) rotate(-220deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}


.card_wrapper:hover .triangle_top_1 {
    opacity: 1;
    top: 35px;
    left: 25px;
}


.card_wrapper:hover .triangle_bottom_1 {
    opacity: 1;
    bottom: 35px;
    right: 25px;
}


.card_wrapper:hover {
    border: 2px solid var(--main-color);
}

.card_wrapper:hover i {
    color: black;
    background-color: var(--main-color);
}

.section_bottom {
    width:50%;
    height: 2px;
    background: linear-gradient(
    to right,
    black 0%,
    var(--main-color) 5%,
    var(--main-color) 95%,
    black 100%
);
box-shadow: 0 0px 8px #CBFE1C;
}


/* sponsers style  */


.sponsers {
    position: relative;
}

.iso {
    position: relative;
}

.yellow_centerd {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 900px;
    height: 200px;
    transform: translate(-50%, -50%);
    background: var(--main-color);
    filter: blur(60px);
    opacity: 0.25;
    z-index: 0;
    -webkit-filter: blur(60px);
}

@media (max-width: 768px) {
    .yellow_centerd {
        width: 400px;
        height: 120px;
    }
}


/* row 1 sponsor  */


.sponsors_slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.sponsors_track {
    display: flex;
    align-items: center;
    gap: 25px;

    animation: sponsors_move 20s linear infinite;
}

.sponsors_track img {
    width: 100px;
    height: auto;
    flex-shrink: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@keyframes sponsors_move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/* row 2 */


.sponsors_slider {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.sponsors_track {
    display: flex;
    align-items: center;
    gap: 25px;
    width: max-content;
}

.sponsors_track img {
    width: 90px;
    height: auto;
    flex-shrink: 0;
}

.sponsors_left {
    animation: move_left 20s linear infinite;
}

.sponsors_right {
    animation: move_right 20s linear infinite;
}

@keyframes move_left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes move_right {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}


/* .our_team_section syle  */


.our_team_section {
    background-color: var(--main-background);
}

.left_card_img p {
    font-size: 12px;
}

.left_card_img .pro_player {
    font-size: 13px;
}
.member_card_wrapper {
    position: relative;
    overflow: hidden;
}

.right_card_img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30px;
}

.right_card_img h4 {
    white-space: nowrap;
    transform: rotate(90deg);
    padding-bottom: 40px;
    font-size: 18px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.member_card_wrapper .card {
    position: relative;
    overflow: hidden;
}

.member_card_wrapper > .card > .card-img {
    width: 100%;
    display: block;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.color_reveal { 
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0;

    overflow: hidden;

    transition: height 0.6s ease;
    z-index: 1;
}

/* Color image inside the reveal */
.color_reveal .card-img {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: auto;

    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}

/* Reveal from bottom → top */
.member_card_wrapper:hover .color_reveal {
    height: 100%;
}

.card-img-overlay {
    z-index: 2;
}

.member_card_wrapper:hover .right_card_img {
    color: var(--main-color);
}

.member_card_wrapper:hover .pro_player {
    color: var(--main-color);
}

.pro_player {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

/* contact_section style  */


.contact_section {
    background-color: var(--contact-background);
}

.contact_card {
    background-color: var(--card_contact_background);
}

.contact_icon i {
    background-color: var(--main-color);
    color: black;
    width: 55px;
    height: 55px;
}

.join_community_card {
    background: linear-gradient(
    to right,
    var(--main-color),
    var(--green-border)
    );
    ;
}

.social_media i {
    background-color: black;
    color: var(--main-color);
    width: 40px;
    height: 40px;
}